{% extends "MainBundle::base.html.twig" %}

{% block content%}
   
    <div class="panel panel-primary">
        {% for entry in advert %}
        <div class="panel-heading" style="background-color : #000">
            {{ entry.title }}
        </div>
        <div class="panel-body">
            {{ entry.text }}
        </div>
        {% endfor %}
    </div>
{% endblock %}
