{% extends "base.html.twig" %}

{% block content%}
    fdgfdg
    {#<div class="panel panel-primary">
        <div class="panel-heading">
            {{advert.title}}
        </div>
        <div class="panel-body">
            {{advert.text}}
        </div>
    </div>#}
{% endblock %}
