{% extends "MainBundle::base.html.twig" %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:black; color:white;">
        <table>
            <form action="{{path('search')}}" method="GET">
                <th>
                    <td><input name="key" type="text" class="form-control" style="border-color: #000;" placeholder="Szukaj ogłoszenia..."></td>
                    <td>
                        <select name ="state" class="form-control" placeholder="Województwo">>
                        <option value="-1">region...</option>
                        <option value="0">dolnośląskie</option>
                        <option value="1">kujawsko-pomorskie</option>
                        <option value="2">lubelskie</option>
                        <option value="3">lubuskie</option>
                        <option value="4">łódzkie</option>
                        <option value="5">małopolskie</option>
                        <option value="6">mazowieckie</option>
                        <option value="7">opolskie</option>
                        <option value="8">podkarpackie</option>
                        <option value="9">podlaskie</option>
                        <option value="10">pomorskie</option>
                        <option value="11">śląskie</option>
                        <option value="12">świętokrzyskie</option>
                        <option value="13">warmińsko-mazurskie</option>
                        <option value="14">wielkopolskie</option>
                        <option value="15">zachodniopomorskie</option>
                        </select>
                    </td>
                    <td>
                        <span class="input-group-btn">
                            <input type="submit" value="Szukaj" style="border-color: #000; background-color: #000; color: #fff" class="btn btn-default"/>
                        </span>
                    </td>
                </th>
            </form>  
        </table>
    </div>
    <ul class="list-group">
        {% for row in results %}
            <li class="list-group-item">
                <a href="{{path('advert',{'id':row.id})}}">{{ row.title }}</a>
            </li>
            {% else %}
                <li class="list-group-item">Nie znaleziono wyników wyszukiwania</li>
        {% endfor %}
    </ul>
</div>    




{% endblock %}