{% extends "MainBundle::base.html.twig" %}
{% block content %}

<div class="panel panel-default"> 
    <div class="panel-heading" style="background-color:black; color:white;">Znalezione ogłoszenia</div>
        <ul class="list-group">
                {% for row in results %}
                    <li class="list-group-item">
                        <a href="{{path('advert',{'id':row.id})}}">{{ row.title }}</a>
                    </li>
                    {% else %}
                        <li>Nie znaleziono wyników wyszukiwania</li>
                {% endfor %}
        </ul>
    </div> 
</div>    
{% endblock %}