{% extends "MainBundle::base.html.twig" %}
{% block content %}
    <form action="{{path('search')}}" method="GET"/>
 <div class="col-lg-6" style="border-color: #000">
    <div class="input-group" style="border-color: #000">
      <input name="key" type="text" class="form-control" placeholder="Szukaj ogłoszenia...">
      <span class="input-group-btn">
        <input type="submit" value="Szukaj" class="btn btn-default"/>
      </span>
    </div>
  </div>
    </form>
{% endblock %}