{% extends "MainBundle::base.html.twig" %}
{% block content%}
    
    <meta charset='utf8'/>
    
    
    
        
        {% if form is not null %}
            {% for type, messages in app.session.flashbag.all %}
                {% for msg in messages %}
                    <div class="alert alert-{{type}}">{{ msg }}</div>
                {% endfor %}
            {% endfor %}
            {{form(form, {'attr': {'novalidate':'true'}})}}  
        {% else %}
            <div class="panel panel-success">
                Rejestracja przebiegła poprawnie! 
            </div>
        {% endif %}
      
  
    

        

        
{% endblock %}